<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/PI-Gorbo/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="PI-Gorbo" />
            <add key="ClearTextPassword" value="$PERONSAL_GITHUB_TOKEN$" />
        </github>
    </packageSourceCredentials>
</configuration>
