@tailwind base;
@tailwind components;
@tailwind utilities;

#__nuxt {
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

@font-face {
    font-family: "NovaCut";
    src: url("base/assets/NovaCut-Regular.ttf");
}

@font-face {
    font-family: "Overpass";
    src: url("base/assets/Overpass-VariableFont_wght.ttf");
}

.fade-enter-active,
.fade-leave-active {
    transition: all 0.1s ease-out;
    overflow: hidden;
}

.fade-enter-active {
    transition-delay: 0.1s;
    overflow: hidden;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
    overflow: hidden;
}

.delayedFade-enter-active,
.delayedFade-leave-active {
    transition: all 0.5s ease-out;
}

.delayedFade-enter-active {
    transition-delay: 0.1s;
}

.delayedFade-enter-from,
.delayedFade-leave-to {
    opacity: 0;
}
